.type-pill {
    border-radius: 12px;
    padding: 1px 8px;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: bold;
    border: 1px solid;
}

.type-pill label {
    color: #ffffff;
}

.type-pill.type-app {
    background-color: #8fbc5d80;
    border-color: #8fbc5d;
}

.type-pill.type-web {
    background-color: #048db780;
    border-color: #048db7;
}

.type-pill.type-pdf {
    background-color: #ca3a3a80;
    border-color: #ca3a3a;
}

.tag-pill {
    border-radius: 8px;
    padding: 1px 6px;
    background-color: #3a3a3a;
    color: #ffffff;
    font-size: 0.75em;
}
